<section class="bg-white" >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-dark">Welcome to revolutionary simple, but very loved Blogus</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">You can write post, see you friend's posts, realize how many people need to see your posts, take a comments and more what you can do on Twitter and Vk, but on Rails. You can start now and write a post.</p>
            <%= link_to 'Get Started!', new_article_path, class: "btn btn-light btn-xl js-scroll-trigger"%>
          </div>
        </div>
      </div>
</section>